<!DOCTYPE html>
<html lang="en" ng-app = "ContactsApp">
<head>
    <meta charset="UTF-8">
    <title>Contacts Application</title>
    <link rel="stylesheet" href ="public/lib/bootstrap/dist/css/bootstrap.min.css">
    <link href="modules/core/client/css/stylesheet.css" rel="stylesheet">
</head>
<body>
<h1>Welcome to Contact app application</h1>

<div ng-include ="'/modules/core/client/views/navigation.core.tpl.html'"></div>

<div ui-view></div>


<!--custom directive-->
<contact-form></contact-form>
<!--vender libraries-->
<script src ="/public/lib/angular/angular.min.js"></script>
<script src ="/public/lib/angular-ui-router/release/angular-ui-router.min.js"></script>


<!--Application Dependencies-->
<script src ="/modules/core/client/app/config.js"></script>
<script src ="/modules/core/client/app/init.js"></script>
<script src ="/modules/core/client/core.client.module.js"></script>
<script src ="/modules/core/client/routes/core.client.route.js"></script>
<script src ="/modules/core/client/controllers/core.client.controller.js"></script>
<script src ="/modules/core/client/services/core.client.service.js"></script>
<script src ="/modules/core/client/filters/core.client.filter.js"></script>
<script src ="/modules/core/client/directives/core.client.directive.js"></script>
</body>
</html>